<template>
  <div>
    <button
      type="button"
      class="btn btn-primary py-1 px-3 py-md-2 px-md-4"
      @click="onClick"
    >
      <i class="bi bi-person icon" /> {{ logged ? 'Sair' : 'Entrar' }}
    </button>
  </div>
</template>

<script lang="ts" src="./logged-button.ts" />
<style lang="scss" scoped src="./logged-button.scss" />
