<template>
  <div class="not-found-container">
    <h1 class="text-dark">Page not found</h1>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  export default defineComponent({
    name: 'NotFound',
  })
</script>

<style lang="scss" scoped src="./not-found.scss" />
