//
// Accordion
// --------------------------------------------------

.accordion:not(.accordion-flush) {
  .accordion-item {
    margin-bottom: $spacer * 0.75;
    @include border-radius($accordion-border-radius);
    border: $border-width solid $accordion-border-color;
  }

  .accordion-button {
    border: 0;
  }
  .accordion-collapse {
    border: 0;
  }
  .accordion-body {
    padding-top: 0;
  }
}

.accordion-flush .accordion-body {
  padding-top: 0;
}
