//
// Forms
// --------------------------------------------------

// General

.form-control:disabled,
.form-select:disabled {
  cursor: not-allowed;
}

// Labels

.form-label-sm {
  padding-left: $input-padding-x-sm;
}
.form-label {
  padding-left: $input-padding-x;
}
.form-label-lg {
  padding-left: $input-padding-x-lg;
}
.form-check-label {
  font-size: $form-check-label-font-size;
}

// Label for use with horizontal and inline forms

.col-form-label {
  @include font-size($form-label-font-size);
}

// Remove default -webkit search input clear button

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

// Switches

.form-switch {
  .form-check-input {
    height: $form-switch-height;
    border: 0;
    background-color: $form-switch-bg;
    &:checked {
      background-color: $form-switch-checked-bg;
    }
  }
}

// Form validation

.valid-tooltip,
.invalid-tooltip {
  position: static;
}

.valid-tooltip {
  color: $success;
}
.invalid-tooltip {
  color: $danger;
}

.was-validated :valid ~ .valid-tooltip,
.was-validated :invalid ~ .invalid-tooltip,
.is-valid ~ .valid-tooltip,
.is-invalid ~ .invalid-tooltip {
  display: inline-block;
}

// Form validation

.was-validated {
  .form-control:invalid,
  .form-control.is-invalid,
  .form-check-input:invalid,
  .form-check-input.is-invalid {
    & ~ .invalid-tooltip {
      display: table;
    }
  }
  .form-control:valid,
  .form-control.is-valid,
  .form-check-input:valid,
  .form-check-input.is-valid {
    & ~ .valid-tooltip {
      display: table;
    }
  }
  .form-control:valid,
  .form-control.is-valid,
  .form-select:valid,
  .form-select.is-valid {
    border-color: $input-border-color !important;
  }
  .form-check-input:not(:checked):valid,
  .form-check-input:not(:checked).is-valid {
    border-color: $input-border-color !important;
  }
}

.was-validated .form-check-input:invalid:checked,
.form-check-input.is-invalid:checked {
  background-color: transparent;
  border-color: $gray-500;
}
.was-validated .form-check-input:valid ~ .form-check-label,
.was-validated .form-check-input.is-valid ~ .form-check-label {
  color: inherit;
}
.was-validated .form-check-input:valid:checked,
.was-validated .form-check-input.is-valid:checked {
  border-color: $form-check-input-checked-border-color;
  background-color: $form-check-input-checked-bg-color;
  box-shadow: none;
}

// Password visibility toggle

.password-toggle {
  position: relative;
  .form-control {
    padding-right: $font-size-base + ($spacer * 2);
  }
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  margin-bottom: 0;
  padding: $spacer * 0.5;
  transform: translateY(-50%);
  font-size: $btn-font-size-lg;
  line-height: 1;
  cursor: pointer;

  .password-toggle-indicator {
    transition: color 0.2s ease-in-out;
    color: $input-placeholder-color;
    font: {
      family: $icons-font-family;
      style: normal;
    }
    &::before {
      content: $ai-eye;
    }
    &:hover {
      color: $input-color;
    }
  }

  .password-toggle-check {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;

    &:checked ~ .password-toggle-indicator::before {
      content: $ai-eye-off;
    }
  }
}
.was-validated .password-toggle .form-control:invalid,
.was-validated .password-toggle .form-control.is-invalid,
.was-validated .password-toggle .form-control:valid,
.was-validated .password-toggle .form-control.is-valid {
  padding-right: 4rem;
  & + .password-toggle-btn {
    right: 2.1rem;
  }
}

// Custom size / color radios

.form-option {
  padding-left: 0;
  &.form-check-inline {
    margin-right: ($spacer * 0.25);
  }
  .form-check-input {
    border: 0;
    background: none;
    &:checked {
      background-image: none !important;
    }
    &:disabled ~ .form-option-label {
      color: $text-muted;
      pointer-events: none;
    }
  }
}
.form-option-label {
  position: relative;
  margin-bottom: 0;
  padding: {
    top: 0.0625rem;
    right: $form-option-padding-x;
    left: $form-option-padding-x;
  }
  transition: $form-option-transition;
  border: $form-option-border-width solid $form-option-border-color;
  @include border-radius($form-option-border-radius);
  color: $form-option-color;
  font: {
    size: $form-option-font-size;
    weight: $form-option-font-weight;
  }
  text-align: center;
  line-height: ($form-option-size-width - 0.25rem);
  cursor: pointer;
}

.form-option-size {
  .form-option-label {
    min-width: $form-option-size-width;
    height: $form-option-size-width;
  }

  .form-check-input:checked ~ .form-option-label {
    border-color: $form-option-active-border-color;
    background-color: $form-option-active-bg;
    color: $form-option-active-color;
  }

  .form-option-label:hover {
    border-color: $form-option-hover-border-color;
    color: $form-option-hover-color;
  }
}

.form-option-color {
  .form-option-label {
    min-width: $form-option-color-width;
    height: $form-option-color-width;
  }

  .form-option-label {
    border-color: transparent;
  }

  .form-check-input:checked ~ .form-option-label {
    border-color: $form-option-border-color;
    color: $form-option-active-color;
  }
}

.form-option-color-indicator {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: ($form-option-color-width - 0.625rem);
  height: ($form-option-color-width - 0.625rem);
  margin: {
    top: -(($form-option-color-width - 0.625rem) * 0.5);
    left: -(($form-option-color-width - 0.625rem) * 0.5);
  }
}

// Custom file input drop area

.file-drop-area {
  position: relative;
  padding: ($spacer * 2.5) $spacer;
  transition: $input-transition;
  border: ($input-border-width * 2) dashed $input-border-color;
  @include border-radius($border-radius-lg);
  background-color: $input-bg;
  text-align: center;
  cursor: pointer;

  .file-drop-input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    outline: none;
    cursor: pointer;
    z-index: 2;
  }

  .file-drop-icon {
    display: block;
    margin-bottom: 0.75rem;
    color: $gray-500;
    font-size: $lead-font-size;
  }

  .file-drop-preview {
    max-width: $file-drop-area-preview-width;
    margin: {
      right: auto;
      bottom: 0.75rem;
      left: auto;
    }
  }

  .file-drop-message {
    display: block;
    font-size: $font-size-sm;
    margin-bottom: 1.25rem;
  }

  .btn {
    position: relative;
    z-index: 3;
  }

  &:hover {
    border-color: darken($input-border-color, 7%);
  }
}

// Subscription form status

.subscription-status {
  display: table;
  @include border-radius($border-radius-sm);
  font-size: $font-size-ms;
  text-align: center;
  &.status-success,
  &.status-error {
    margin-top: 0.5rem;
    padding: 0.25rem 0.375rem;
  }
  &.status-success {
    background-color: rgba($success, 0.1);
    color: darken($success, 10%);
  }
  &.status-error {
    background-color: rgba($danger, 0.1);
    color: $danger;
  }
}

// Sign in form illustartion

.signin-form {
  position: relative;
  width: 652px;
  min-height: 556px !important;
  padding-bottom: 40px;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 556px;
  }

  &::after {
    left: 122px;
    bottom: 556px;
    width: 412px;
    height: 100%;
    background-color: $white;
  }

  .signin-form-inner {
    position: relative;
    max-width: 390px;
    margin: 0 auto;
    padding: 32px 30px 0 30px;
    background-color: $white;
    z-index: 5;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    overflow: visible;
    &::before,
    &::after {
      display: none;
    }
    .signin-form-inner {
      padding: 40px 20px;
      @include border-radius($border-radius-lg);
      @include box-shadow($box-shadow);
    }
  }
}
