//
// Offcanvas
// --------------------------------------------------

// Offcanvas base styles

.offcanvas {
  will-change: transform, box-shadow;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    box-shadow 0.3s ease;
  box-shadow: none;
  visibility: visible !important;

  // Add compatibility with new Bootstrap offcanvas component
  &:not(.offcanvas-end):not(.offcanvas-bottom) {
    top: 0;
    left: 0;
    width: $offcanvas-horizontal-width;
    border-right: $offcanvas-border-width solid $offcanvas-border-color;
    transform: translateX(-100%);
  }

  // Show offcanvas
  &.show {
    transform: none !important;
    box-shadow: $offcanvas-box-shadow !important;
  }
}

// Offcanvas Header and Footer

.offcanvas-header,
.offcanvas-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: $offcanvas-padding-y $offcanvas-padding-x;

  .bg-dark & {
    background-color: rgba($white, 0.05);
  }
}

// Offcanvas body (content holder)

.offcanvas-body {
  height: 100%;

  // Custom scrollbar inside offcanvas
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    background-color: transparent;
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-bg;
    @include border-radius($scrollbar-width * 0.5);
  }
  & > .simplebar-track {
    display: block;
    background-color: transparent;
  }
  .simplebar-vertical {
    margin-right: 0.1875rem;
  }
}

// Sidebar toggle

.sidebar-toggle {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  z-index: $zindex-btn-scroll-top;
}

// Control the breakpoint at which offcanvas expands or collapses
@include media-breakpoint-up(lg) {
  // Expand offcanvas from lg breakpoint
  .offcanvas-expand {
    transform: none !important;
    z-index: $zindex-fixed + 1;
    &.offcanvas-start,
    &.offcanvas-end,
    &.offcanvas-bottom {
      transform: none !important;
    }
  }

  // Collapse offcanvas down from lg breakpoint
  .offcanvas-collapse {
    display: block;
    position: static;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    transform: none !important;
    background-color: transparent;

    .offcanvas-header,
    .offcanvas-footer {
      display: none;
    }

    .offcanvas-body {
      padding: 0;
      overflow: initial;
    }
  }

  // Offcanvas enabled container (for layouts with fixed side navigation)
  .offcanvas-enabled-start {
    padding-left: $offcanvas-horizontal-width + 1.5rem;
  }
  .offcanvas-enabled-end {
    padding: {
      right: $offcanvas-horizontal-width + 1.5rem;
      left: 0;
    }
  }
}

@include media-breakpoint-down(lg) {
  .offcanvas-collapse {
    .offcanvas-body {
      .navbar-nav {
        padding-top: 0;
        .nav-item {
          border: {
            top: 0;
            bottom: $border-width solid $border-color !important;
          }
        }
        .nav-link {
          color: $navbar-light-color;
          &:hover {
            color: $navbar-light-hover-color;
          }
          &.active {
            color: $navbar-light-active-color;
          }
          &.disabled {
            color: $navbar-light-disabled-color;
          }
        }
        .show > .nav-link,
        .active > .nav-link {
          color: $navbar-light-active-color;
        }
        .dropdown-menu .dropdown-item {
          color: $navbar-light-color;
          &:hover {
            color: $navbar-light-hover-color;
          }
          &.active {
            color: $navbar-light-active-color;
          }
          &.disabled {
            color: $navbar-light-disabled-color;
          }
        }
        .dropdown-header {
          color: $dropdown-header-color;
          border-color: $border-color;
        }
      }
    }
  }
}

.widget-nav {
  .nav-link {
    margin: {
      right: -$offcanvas-padding-x;
      bottom: 0.75rem;
      left: -$offcanvas-padding-x;
    }
    padding: 0 $offcanvas-padding-x;

    &.active {
      position: relative;

      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0.125rem;
        height: 100%;
        background-color: $nav-link-light-active-color;
        content: '';
      }
    }
  }
}
