<template>
  <nav class="navbar navbar-expand-md navbar-dark d-flex fixed-top">
    <div
      className="d-flex justify-content-between logo-container align-items-center"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#n_bar"
        aria-controls="navbarNavAltMarkup"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>

      <img
        class="navbar-brand logo"
        @click="goToHome"
        src="../../assets/images/logo.png"
      />

      <div class="d-md-none">
        <LoggedButton />
      </div>
    </div>

    <div class="collapse navbar-collapse mt-4 mt-md-0" id="n_bar">
      <div className="d-flex gap-md-4 gap-3 navbar-nav">
        <div v-for="item in items">
          <router-link
            :to="{ path: item.path, hash: item.hash }"
            :class="`item-container ${
              isActiveRoute({ path: item.path, hash: item.hash })
                ? 'active-route'
                : ''
            }`"
          >
            <i :class="`bi ${item.icon} icon`" />
            {{ item.name }}
          </router-link>
        </div>
      </div>
    </div>

    <div class="d-none d-md-block">
      <LoggedButton />
    </div>
  </nav>
</template>

<script lang="ts" src="./navbar.ts" />
<style lang="scss" scoped src="./navbar.scss" />
