@import '../../assets/styles/scss/user-variables';

.navbar {
  background-color: black;
  padding: 0 40px !important;
  align-items: center;
  column-gap: 3rem;
  height: $navbar-height;

  .active-route {
    color: #e20ae2 !important;
  }

  a {
    font-weight: bold;
    color: rgb(230, 227, 227);
    text-decoration: none;

    &.router-link-exact-active {
      color: none;
    }
  }

  a:hover {
    color: #c308c3;
  }

  .logo {
    max-width: 140px;
    cursor: pointer;
    margin: 0;
  }

  button {
    box-shadow: none;
  }

  .logo-container {
    @media (max-width: 767.2px) {
      width: 100%;
      overflow-x: auto;
    }
  }

  .item-container {
    display: flex;
    column-gap: 7px;
    align-items: center;

    .icon {
      font-size: 21px;
    }

    @media (max-width: 767.2px) {
      justify-content: center;
    }
  }

  @media (max-width: 767.2px) {
    padding: 20px !important;
    height: auto;
  }
}
