<template>
  <button
    :class="`btn btn-primary d-flex flex-column fw-bold align-items-center bg-primary px-5 py-3 rounded-4 w-100 overflow-auto ${
      selected ? 'selected' : ''
    }`"
    @click="onClick()"
  >
    <i :class="`bi ${icon} icon`" />
    <h4 className="mt-1 mb-0 fw-bold text-center">{{ text }}</h4>
  </button>
</template>

<script lang="ts" src="./calculator-card.ts" />
<style lang="scss" scoped src="./calculator-card.scss" />
