<template>
  <div class="text-center pt-4">This is an about page</div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  export default defineComponent({
    name: 'AboutPage',
  })
</script>
