@import '../../assets/styles/scss/user-variables';

.home {
  background-color: #000;
  .bg-container {
    background-image: url('../../assets/images/landing-page.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: calc(100vh - $navbar-height);
    display: flex;
    align-items: center;

    .form-container {
      width: 42rem;

      @media (max-width: 767.2px) {
        width: 100%;
      }
    }
  }

  .calculator-container {
    max-width: 970px;
    margin: 0 auto;

    .cards-container {
      max-width: 100%;
      gap: 20px;
    }
  }

  .form-container {
    width: 100%;

    .form-content-container {
      @media (min-width: 767.2px) {
        margin: auto;
        width: 60%;
      }
    }
  }

  .faq-container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;

    .faq-icon-container {
      display: flex;
      justify-content: center;
      .faq-icon {
        max-width: 100%;
      }
    }

    @media (max-width: 767.2px) {
      grid-template-columns: 1fr;
    }
  }
}
