<template>
  <div class="home">
    <div class="bg-container p-3 p-md-5">
      <div class="form-container bg-light rounded-3 shadow-lg py-5 px-4">
        <h2 class="text-center fw-bold mb-3 text-dark">
          Faça a sua contratação
        </h2>

        <h5 class="justify-content-center mb-3 text-dark d-flex gap-2">
          <i class="bi bi-person-circle" />
          <div>Dados de Identificação</div>
        </h5>

        <p class="text-center">
          Para iniciar a nossa proposta, preencha os dados do titular da unidade
          consumidora a ser cadastrada.
          <b>Estes são os mesmos dados da conta de energia.</b>
        </p>

        <form
          @submit.prevent="submitHiring"
          novalidate
          class="needs-validation"
        >
          <div class="form-group mb-3">
            <label for="nome" class="text-label fw-bold small">Nome</label>
            <input
              v-model="hiringForm.name"
              type="text"
              id="nome"
              class="form-control"
              placeholder="Informe o nome"
              required
            />
          </div>

          <div class="form-group mb-3">
            <label for="email" class="text-label fw-bold small">E-mail</label>
            <input
              v-model="hiringForm.email"
              type="email"
              id="email"
              class="form-control"
              placeholder="Informe o e-mail"
              required
            />
          </div>

          <div class="form-group mb-3">
            <label for="telefone" class="text-label fw-bold small"
              >Telefone</label
            >
            <input
              v-model="hiringForm.phone"
              type="text"
              id="phone"
              class="form-control"
              placeholder="Informe o telefone"
              required
            />
          </div>

          <div class="row justify-content-end">
            <div class="col-md-6">
              <button
                type="submit"
                class="btn btn-primary rounded-pill py-3 d-block w-100 fw-bold"
              >
                Iniciar Contratação
                <i class="bi bi-arrow-right float-end"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="calculator-container p-3 p-md-5" id="calculator">
      <h1 class="text-center">
        Calcule o quanto você vai economizar para realizar seus sonhos.
      </h1>
      <h3 class="text-center mt-4">Quer energia para:</h3>

      <div class="cards-container d-flex flex-md-row flex-column">
        <CalculatorCard
          icon="bi-house-fill"
          text="Residencial"
          :onClick="() => toggleType('residential')"
          :selected="calculateForm.type === 'residential'"
        />

        <CalculatorCard
          icon="bi-cart-fill"
          text="Comercial"
          :onClick="() => toggleType('commercial')"
          :selected="calculateForm.type === 'commercial'"
        />

        <CalculatorCard
          icon="bi-lightning-charge-fill"
          text="Média Tensão A4"
          :onClick="() => toggleType('mediumVoltage')"
          :selected="calculateForm.type === 'mediumVoltage'"
        />
      </div>

      <form
        @submit.prevent="submitCalculate"
        class="form-container d-flex flex-column align-items-center align-items-md-start gap-2 needs-validation"
        novalidate
      >
        <div
          class="form-content-container d-flex flex-column align-items-center align-items-md-start gap-2"
        >
          <div class="d-flex align-items-center input-group mb-3 gap-3 mt-4">
            <label
              class="lead fw-bold text-center text-md-start text-secondary"
            >
              Mês de referência:
            </label>
            <select
              class="form-select bg-secondary rounded-4 text-dark fw-bold border-0 shadow-none"
              placeholder="Selecione uma opção..."
              defaultValue="0"
              v-model="calculateForm.month"
              required
            >
              <option value="0" disabled>Selecione uma opção</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div
            class="d-flex flex-column gap-2 w-100"
            v-if="calculateForm.type === 'mediumVoltage'"
          >
            <div class="d-flex align-items-center mb-3 gap-3">
              <label
                class="lead fw-bold text-center text-md-start text-secondary text-nowrap"
              >
                Consumo HP:
              </label>
              <div class="input-group flex-nowrap">
                <input
                  type="number"
                  class="form-control bg-secondary fw-bold border-0 shadow-none"
                  placeholder="Informe o valor..."
                  v-model="calculateForm.consumptionHP"
                  required
                />
                <span class="input-group-text">kWh</span>
              </div>
            </div>

            <div class="d-flex align-items-center mb-3 gap-3">
              <label
                class="lead fw-bold text-center text-md-start text-secondary text-nowrap"
              >
                Consumo HFP:
              </label>
              <div class="input-group flex-nowrap">
                <input
                  type="number"
                  class="form-control bg-secondary fw-bold border-0 shadow-none"
                  placeholder="Informe o valor..."
                  v-model="calculateForm.consumptionHFP"
                  required
                />
                <span class="input-group-text">kWh</span>
              </div>
            </div>
          </div>
          <div v-else class="d-flex align-items-center mb-3 gap-3 w-100">
            <label
              class="lead fw-bold text-center text-md-start text-secondary"
            >
              Consumo:
            </label>
            <div class="input-group flex-nowrap">
              <input
                type="number"
                class="form-control bg-secondary fw-bold border-0 shadow-none"
                placeholder="Informe o valor..."
                v-model="calculateForm.consumption"
                required
              />
              <span class="input-group-text">kWh</span>
            </div>
          </div>

          <div class="d-flex align-items-center input-group mb-3 gap-3 w-100">
            <label
              class="lead fw-bold text-center text-md-start text-secondary"
            >
              Estado:
            </label>
            <select
              class="form-select bg-secondary rounded-4 text-dark fw-bold border-0 shadow-none"
              placeholder="Selecione uma opção..."
              v-model="calculateForm.state"
              required
            >
              <option value="0" disabled>Selecione uma opção</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="d-flex align-items-center input-group mb-3 gap-3 w-100">
            <label
              class="lead fw-bold text-center text-md-start text-secondary"
            >
              Cidade:
            </label>
            <select
              class="form-select bg-secondary rounded-4 text-dark fw-bold border-0 shadow-none"
              placeholder="Selecione uma opção..."
              v-model="calculateForm.city"
              required
            >
              <option value="0" disabled>Selecione uma opção</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div
            class="d-flex align-items-center input-group mb-3 gap-3 text-secondary"
          >
            <label class="lead fw-bold text-center text-md-start">
              Concessionária:
            </label>
            <select
              class="form-select bg-secondary rounded-4 text-dark fw-bold border-0 shadow-none"
              placeholder="Selecione uma opção..."
              v-model="calculateForm.dealership"
              required
            >
              <option value="0" disabled>Selecione uma opção</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="d-flex align-items-center input-group mb-3 gap-3">
            <label
              class="lead fw-bold text-center text-md-start text-secondary"
            >
              Tipo de conexão:
            </label>
            <select
              class="form-select bg-secondary rounded-4 text-dark fw-bold border-0 shadow-none"
              placeholder="Selecione uma opção..."
              v-model="calculateForm.connectionType"
              required
            >
              <option value="0" disabled>Selecione uma opção</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-lg fw-bold w-100 fs-5 mt-2"
        >
          <i class="bi bi-calculator" /> Calcular
        </button>
      </form>
    </div>

    <h2 class="mt-5 mt-md-3 text-center" id="faq">PERGUNTAS FREQUENTES</h2>
    <div class="faq-container p-4">
      <div class="accordion order-2 order-md-1" id="accordionExample">
        <div
          v-for="(item, index) in faq"
          class="accordion-item bg-light"
          :key="item.title"
        >
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              :data-bs-target="`#collapse${index}`"
              aria-expanded="true"
              :aria-controls="`collapse${index}`"
            >
              {{ item.title }}
            </button>
          </h2>
          <div
            :id="`collapse${index}`"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div v-html="item.content" />
            </div>
          </div>
        </div>
      </div>

      <div class="faq-icon-container order-1 order-md-2">
        <img class="faq-icon" src="../../assets/images/faq.svg" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./home.ts" />
<style lang="scss" scoped src="./home.scss" />
