<template>
  <div id="app">
    <TemplateProvider>
      <router-view />
    </TemplateProvider>
  </div>
</template>

<script lang="ts">
  import TemplateProvider from './components/Template/index.vue'

  export default {
    name: 'App',
    components: { TemplateProvider },
  }
</script>

<style lang="scss" src="./assets/styles/global.scss" />
